.visible{
    display: block;
    z-index: 3;
    background: transparent;
    background-color:rgba(240, 255, 255, 0.65);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.hidden{
    display: none;
}

.closeButton{
    position: absolute;
    top: 5%;
    right: 5%;
    height: fit-content;
}

.poppanel{
    height: 600px;
    width: 450px;
    max-width: 70vw;
    max-height: 95vh;
    background-color: #004B85;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 10px black;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .poppanel > *{
    width: 70%;
  }

.band{
    background: linear-gradient(to right,
    #D60019,  #D60019 33%, #F7AE00 33%,
    #F7AE00 67%, #004B85 67%);
    width: 10%; /* your specific width */
    height: 8%;
    position: absolute;
    left: 5%;
    top: -0.2%;
    border-radius: 1px;
    box-shadow: 1px 1px 3px black;
    border-top-left-radius: 3px;
}

