.container{
    display: flex;
    justify-content: space-between;
    gap: 8%;
}



.info{
    flex-direction: column;
}


/* Media query to target viewport width */
@media (max-width: 1000px) {
    /* Styles for container and child elements when viewport width is less than 1000px */
    .container {
        flex-direction: column;
        align-items: center;
        
    }

    .info{
        flex-direction: column;
        margin-right: 0;
    }
}