.Footer{
    background: solid;
    background-color: rgb(50, 50, 50);
    min-height: 140px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.marcas
{
    height: 80px;
    margin: 40px;
}

.uhome{
    height: 60px;
    margin: 40px;
    margin-top: 60px;
}

.Footer div:first-child{
    margin-right: 25%;
}

/* Media query to target viewport width */
@media (max-width: 1000px) {
    /* Styles for container and child elements when viewport width is less than 1000px */
    .Footer {
        flex-direction: column;
        vertical-align: auto;
        align-items: center;
    }

    .Footer div:first-child{
        margin-right: auto;
    }
}

