.main-container{
    z-index: 0;
    background: linear-gradient(to right top,
        rgba(0, 0, 0, 0.5),
        rgba(255, 255, 255, 0.1)),
        repeating-linear-gradient(36deg,
        rgb(0, 62, 110),
        rgb(0, 62, 110) 50px,
        rgb(0, 62, 110) 50px,
        rgb(0, 55, 101) 70px);
    width: 100%;
    height: auto;
    min-height: 720px;
    padding-top: 70px;
    position: relative;
    margin-top: 70px;
    padding-bottom: 10vh;
}

.main-container > *{
    margin-bottom: 10%;
}

.bannerContainer{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}


@media (max-width: 1000px) {
    /* Styles for container and child elements when viewport width is less than 600px */
    .main-container {
        flex-direction: column;
        vertical-align: auto;
        align-items: center;
        min-height: 1000px;
    }

    .bannerContainer {
        flex-direction: column;
        align-items: center;
    }

    .bannerContainer > *{
        margin-bottom: 10%;
    }
}

@media not screen and (max-width: 1000px) {
    .banner {
      margin: auto auto;
    }
}

.acreditacion{
    height: 400px;
    margin: auto auto;
}