.gadient-background{
    background: linear-gradient(to right top,
        rgba(0, 0, 0, 0.5),
        rgba(255, 255, 255, 0.1)),
        repeating-linear-gradient(36deg,
        rgb(0, 62, 110),
        rgb(0, 62, 110) 50px,
        rgb(0, 62, 110) 50px,
        rgb(0, 55, 101) 70px);
        width: 100%;

        display: grid;
        place-items: center;
}

.main-container{
    z-index: 0;
    position: relative;
    padding: 40px 10px;
}

.main-container > *{
    margin-bottom: 10%;
}




@media (max-width: 1000px) {
    /* Styles for container and child elements when viewport width is less than 600px */
    .main-container {
        flex-direction: column;
        vertical-align: auto;
        align-items: center;
        min-height: 1000px;
    }
}

.gadient-background::after{
    content: "";
    display: block;
    border-bottom: 20px solid #003053;
    width: 100%;
}