.navbar-container{
    display: flex;
    background-color: #005e90;
    height: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding-left: calc(0.197 * 100vw - 67px);
    padding-right: calc(0.197 * 100vw - 67px);
}

.navbar-item{
    font-family: 'Montserrat', Sans-serif;
    font-size: 11px;
    font-weight: 700;
    color: white;
    margin-top: 10px;
    position: relative;
    margin-bottom: 0;
    opacity: 1;
    cursor: pointer;
    fill: white;
}

.navbar-item::after{
    display: none;
    content: "";
}

.navbar-item:hover::after{
    background-color: #E5B300;
    display: block;
    height: 2px;
    width: 100%;
}

.rightside-dropdown{
    display: flex;
    flex-direction: row;
    gap: 10px;
}