.navbar-container{
    display: flex;
    background-color: #005e90;
    height: 40px;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;
    padding-right: 16vw;
    padding-left: 16vw;
}

.usmcl{
    font-family: 'Montserrat', Sans-serif;
    font-size: 11px;
    font-weight: 700;
    color: white;
    margin-top: 10px;
    position: relative;
    margin-bottom: 0;
    opacity: 1;
    cursor: pointer;
    fill: white;
}

.usmcl::after{
    display: none;
    content: "";
}

.usmcl:hover::after{
    background-color: #E5B300;
    display: block;
    height: 2px;
    width: 100%;
}