.block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title-aula{
    font-size: 200px;
    text-align: center;
}

.title-virtual{
    font-size: 96px;
    text-align: left;
    opacity: 0.5;
    line-height: 0.75;
}

.title-aula, .title-virtual{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
    padding: 5px;
    font-stretch: 10%;
    text-shadow: 2px 2px 10px black;
}


/* Media query to target viewport width */
@media (max-width: 1000px) {
    /* Styles for container and child elements when viewport width is less than 1000px */
    .title-aula {
        font-size: 90px;
    }

    .title-virtual {
        font-size: 43px;
    }
}

@media (max-width: 1350px) {
    /* Styles for container and child elements when viewport width is less than 1000px */
    .title-aula {
        font-size: 140px;
    }

    .title-virtual {
        font-size: 68px;
    }
}

@media (max-width: 600px) {
    /* Styles for container and child elements when viewport width is less than 1000px */
    .title-aula {
        font-size: 80px;
    }

    .title-virtual {
        font-size: 38px;
    }
}